.card-container-type-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.type-1-image {
  width: 100%;
  height: 160px;
}
.type-1-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.card-container-type-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.badge {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100px;
  height: auto;
  background-color: #d4111e;
  padding: 3px;
  color: #fff;
  border-radius: 0 7px 0 7px;
  text-align: center;
}
.card-body-container {
  box-shadow: 2px 2px 20px 2px lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 7px 7px;
}
.card-body-middle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ratio {
  background-color: #003b95;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.card-body-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
