.city-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.2s ease;
  /* box-shadow: 2px 2px 20px 2px lightgray; */
  border: 1px solid lightgray;
  border-radius: 7px 7px 0 0;
  flex: 1 1 140px;
}

.city-card-image-container {
  width: 100%;
  height: 120px;
}
.city-card-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0 0;
}
.city-card-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.city-card-container:hover {
    transform: scale(1.02);
  }
  